nav{
    height: 40px;
}
.img_header{
    height:400px
}

main{
    height: 800px;
}
.section_one{
    height:200px;
}
.section_two{
    height:200px;
}
.section_three{
    height:200px;
}
.section_four{
    height:200px;
}
footer{
    height:200px;
}
